{% extends 'base/base.html' %}


{% block content %}

    <section id="portrait-gallery">

        {% for portrait in portraits %}

            <div class="gallry-prj">
                <h1 class="title">{{ portrait }}</h1>

                <div class="gallery-prj-imgs">


                    <a href="" class="link"><img class="gallery-img" src="{{ portrait.image1.url }}"></a>

                    {% if portrait.image2 %}
                        <a href="" class="link"><img class="gallery-img" src="{{ portrait.image2.url }}"></a>
                    {% endif %}

                    {% if portrait.image3 %}
                        <a href="" class="link"><img class="gallery-img" src="{{ portrait.image3.url }}"></a>
                    {% endif %}

                    {% if portrait.image4 %}
                        <a href="" class="link"><img class="gallery-img" src="{{ portrait.image4.url }}"></a>
                    {% endif %}

                    {% if portrait.image5 %}
                        <a href="" class="link"><img class="gallery-img" src="{{ portrait.image5.url }}"></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </section>


{% endblock %}