{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="gradient-back">
<head>
    <meta charset="UTF-8">
    <title>Roberto Photohraphy</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caudex|Cinzel+Decorative|Cutive|Laila|Niconne|Sniglet" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

{% block base %}

{% endblock %}



 <script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
        var slideIndex = 0;
        carousel();


        function carousel() {
            var i;

            var x = $(".slides");

            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }

            slideIndex++;

            if (slideIndex > x.length) {slideIndex = 1}

            x[slideIndex-1].style.display = "block";

            setTimeout(carousel, 6000); // Change image every 2 seconds
        }
    </script>


    {% block body_js %}

    {% endblock %}

</body>
</html>