{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="gradient-back">
<head>
    <meta charset="UTF-8">
    <title>Roberto Photohraphy</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caudex|Cinzel+Decorative|Cutive|Laila|Niconne|Sniglet" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">


 <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>
<body>

{% block base %}

{% endblock %}





    {% block body_js %}

    {% endblock %}

</body>
</html>