
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #1a1a1a;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
}

p {margin-bottom:  0}

.form-group {margin: 0}